.body {
    background-color: green;
}

.title {
    margin: auto;
    width: 50%;
    padding: 10px;
    color: white;
    text-align: center;
}

.title h2 {
    color: yellow;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}