.body {
    height: 1024px;
    background-color: darkgreen;
    background: linear-gradient(to right, #159957, #155799);
    font-family: Helvetica;
}

.title {
    margin: auto;
    width: 50%;
    padding: 10px;
    color: #FFFDD0;
    text-align: center;
    font-size: xx-large;
}

.game-on  {
    color: yellow;
}

.home_button {
    color: #155799;
    text-align: center;
    font-size: xx-large;
    padding: 20px;
    background-color: lightgray;
    display: block; /* Makes the button a block element */
    margin: 0 auto; /* Centers horizontally */
}

.home_button:hover {
    color: red;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.teams {
    display: flex;
}

.column {
    flex: 10%;
    padding: 5px;
}

.teams_2 {
    display: flex;
}

.column_2 {
    flex: 10%;
    padding: 5px;
}
